a, input,select, option{outline: none!important;}
.logoArea {
    left: -18px;
    position: relative;
    top: 33px;
}
.logo {
    background: url("/assets/new-beta-black.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 51px;
    width: 314px;
    position: relative;
    z-index: 10;
    text-indent:-9999px;
}
a.logo:hover{background-color: transparent;}
.navbar .nav {
    float: right!important;
     font-size: 16px;
    top: -26px;
    left: 40px;
 }
.search-free-slots {
    background-color: #000000;
    color: #C57CB5;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    text-shadow: 0 0 0 #FFFFFF;
    width: 100px;
    border-radius: 4px 4px 4px 4px;
 }
 a.search-free-slots:hover{color:#C57CB5;text-decoration: none;}
#search_free_slots_form img,#search_free_slots_form a {vertical-align: top;}
#main{margin-top:52px;}
.content .row form{
  border: 8px solid #000000;
  padding: 22px 8px 22px 22px;
}
a.dp-choose-date {
    background: url("/assets/dateIcon.png") no-repeat scroll 0 0 transparent!important;
    width:25px!important;
    height:25px!important;
    float:none!important;
    display:inline-block!important;
    color: transparent!important;
    float:none!important;
    margin-top:1px!important;
}
input.dp-applied{float:none!important;background-color:#fff!important;}
input.time_entry,input.dp-applied{height:16px;}
.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
div#dp-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 26px;
    position: absolute;
    width: 185px;
    
}
#slots{
   width: 100%;
}
#slots .listBookNow a{
    background: none repeat scroll 0 0 #000000;
    color: #C57CB5 !important;
    display: inline-block;
    float: left;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 2px 5px;
    text-align: center;
    vertical-align: top;
    width: 65px;
}
#slots a:hover{text-decoration: none;}
#slots .infoContent a:hover{background-color:transparent!important;}
div.dp-popup h2 {
    color: #C57CB5!important;
}
button.btn, input.btn[type="submit"],.span12 a.btn-primary {
    background-color: #000000!important;
    background-image: none!important;
    color: #C57CB5!important;
}
.time_entry{
    width: 64px;
}
.dvLoading
{
   background: url(ajax-loader.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
}
#search_free_slots_form h2{
 text-transform: uppercase;
 font-weight: lighter;
 margin-top: 0;
 padding-top: 0;
}
.alert-success {
    background-color: #FFFFFF!important;
    border-color: #000000!important;
    color: #C57CB5 !important;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{background-color:#fff;}
.formField{display: inline-block;width: 300px;}
.btnContainer{margin-top:10px;}
#check_price{font-weight:bold;}

.searchReasult {
    display: table;
    width: 100%;
    border: 1px solid #000000;
}

.searchReasult ul {
    display: table-row;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.searchReasult ul li {
    /*border-bottom: 1px solid #000000;*/
    display: table-cell;
    margin: 0;
    padding: 15px 0 10px;
    vertical-align: top;
    float:left;
}

.searchReasult ul li.thumb {
    padding-top: 10px;
    vertical-align: top;
    width: 184px;
    display: block;
    margin-left: 32px;
}
.searchReasult ul li.thumb a {
    display: block;
    height: 95px;
    width: 181px;
}

.searchReasult ul li.info {
    position: relative;
    padding: 10px 5px;
    width: 500px;
}
.infoContent {
    height: 95px;
    position: relative;
}

.searchReasult ul li.info h4 {
    font-size: 12px;
    margin:0px; 
}

.searchReasult ul li a {
    color: #000000;
    text-decoration: none;
}
.searchReasult ul li a img{
    height:95px;
    max-width: 185px !important;
    width: 184px !important;
}
.searchReasult ul li.info p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.searchReasult ul li li {
    border-bottom: 0 solid;
    padding: 0;
}

.infoLinkContent {
    font-weight: bold;
    margin: 5px 0;
    width: 163px;
}

.searchReasult li.info a.show-searched-services1 {
    margin-right: 15px;
}

.salonSearchDescription {
    bottom: 0;
    color: #464646;
    line-height: 11px;
    position: absolute;
    width: 163px;
}

.searchReasult ul li.listBookNow {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px !important;
    vertical-align: middle;
    width: 200px;
}

table.jCalendar {
    background: none repeat scroll 0 0 #D3D3D3!important;
    border:0px solid!important;
}
table.jCalendar td.selected {
    background: none repeat scroll 0 0 #C57CB5 !important;
    color:#fff!important;
}
table.jCalendar td{
    background: none repeat scroll 0 0 #F1F1F1!important;
    color: #555555!important;
}
table.jCalendar td.today {
    background-color:#BBBBBB!important;
    color: #000000 !important;
}
table.jCalendar td.other-month{
    background-color:#DDDDDD!important;
}
table.jCalendar th{
    color: #222!important;
    background: none repeat scroll 0 0 #fff!important;
}
div.dp-popup div.dp-nav-next,div.dp-popup div.dp-nav-prev{
    width:40px!important;
    top: 13px!important;
}